.ruleCardHead{
    width: 100%;
    height: 40px;
    padding: 8px 16px 5px;
    line-height: 1.53em;
    text-align: left;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    gap:10px
}

.ruleCardHeadIncorrect{
    background-color: #ffc7c7;
}

.ruleCardHeadCorrect
{
    background-color: #aef3ae;    ;
}

.mark{
    height: 19px;
    width: 19px;

}