.captcha-refresh {
  height: 25px;
  margin: 10px;
}
.captcha-refresh:hover {
  scale: 1.2;
  cursor: pointer;
}
.captcha-img {
  margin-top: 10px;
  width: 200px;
  border: 2px solid black;
  border-radius: 1rem;
}
.googlemap {
  width: 100%;
  height: 450px;
  border: none;
  border-radius: 1rem;
  margin-top: 10px;
}

.anchor-tag {
  color: red;
}
.chessboard {
  flex-direction: column;
}

.chessboard-img {
  width: 90%;
  height: auto;
  border-radius: 1rem;
  margin: 20px;
}
.chessboard-p {
  font-style: italic;
  margin: 10px;
}
.errorSvg {
  height: 22px;
  width: 22px;
  margin: 0 3px 0 8px;
}
.marginTop {
  margin: 10px 0 0 0;
  display: inline;
}
.rule-div-img {
  height: 85px;
  margin: 20px 20px 0 20px;
}

.unordered-list {
  margin-left: 40px;
}

.rules {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.rules::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none;
}

.followed {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.followed::-webkit-scrollbar {
  display: none;
}

.unfollowed {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.unfollowed::-webkit-scrollbar {
  display: none;
}

.strength-bar {
  width: 100%;
  height: 25px;
  margin: 10px 0;
  position: relative;
}

.strength-bar-sub {
  background: linear-gradient(
    to right,
    red 25%,
    orange 25%,
    orange 50%,
    yellow 50%,
    yellow 75%,
    lawngreen 75%
  );
  width: 100%;
  height: 25px;
  border-radius: 12.5px;
  transition: clip-path 0.4s ease-in-out;
}
.bar-quarter {
  clip-path: inset(0 75% 0 0);
}
.bar-Half {
  clip-path: inset(0 50% 0 0);
}
.bar-three-Quarter {
  clip-path: inset(0 25% 0 0);
}
.bar-full {
  clip-path: inset(0);
}

.bar {
  height: 25px;
  width: 25%;
  border: 1px solid black;
  position: absolute;
}
.bar1 {
  border-radius: 12.5px 0 0 12.5px;
  left: 0;
}
.bar2 {
  left: 25%;
}
.bar3 {
  right: 25%;
}
.bar4 {
  border-radius: 0 12.5px 12.5px 0;
  right: 0;
}
