.gamePage {
  background-color: #fffaea;
  padding-bottom: 20px;
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
}
.logobar {
  height: 60px;
  padding: 14.5px;
  margin-bottom: 20px;
}

.logo {
  height: 31px;
}

.logo:hover {
  scale: 1.05;
}
